.App{
  background-color: rgba(30, 30, 148, 0.562);
  min-height: 100vh;
  padding-top: 25px;
}

::-webkit-scrollbar{
  display: none;
}


@media (max-width: 768px) {
  .App{
    height: 100vh;
  }

  .TrackerLists-col{
    padding-top: 10%;
  }
}